{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<div class="container">
	<div class="row">
		<div class="col-lg-8">
			{{ range where .Data.Pages "Title" "Welcome" }}
			  {{ .Content }}
			{{ end }}
		</div>


	</div>
	{{ partial "container-footer.html" . }}
</div>

{{ partial "footer.html" . }}
